@media screen and (min-width: 800px) {

/* =============== Header =============== */

  header {
    padding: 1em 3em 1em 5em;
  }
 
  header span {
    font-size: 1.5em;
  }
  
  #menu {
    display: none;
  }

  .navbar {
    display: flex;
    position: relative;
  }

  .navbar a {
    margin: 10px;
    padding: 7px;
    font-size: 1.5em;
  }

  /* ==============  Body  ============== */

 .grid-view {
  grid-template-columns: 1fr 1fr 1fr;

  .company-img {
    width: 290px;
  }

  .buttons {
    grid-column: span 3;
  }
 } 

 .cta {
    bottom: 8px;
    right: 16px;
    font-size: 1.2rem;
    padding: 4px;
  }

  .cta a {
    padding: 0.5rem;
    border: 1px solid #000;
    padding: 0;
    border-radius: 15px;
    background-color: var(--secondary);
    color: #000;
  }

 .index-grid {
  grid-template-columns: 1fr 1fr;
  
  h1 {
    grid-column: span 2;
  }

  

  #spotlight {
    grid-column: span 2;
  }

  #spotlight ul {
    flex-direction: row;
  }

  /* #events {

  } */

 }

 .join-page {
  grid-template-columns: 1fr 1fr;
 }

 .mem-group {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
 }
 

  /* ==============  Footer  ============== */

  footer {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 2fr 2fr;
  }

  #dates {
    grid-column: 4 / 6;
  }

  .socials {
    padding: 20px;
    width: 5rem;
  }

}

@media screen and (min-width: 1025px) {
  #discover-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    section {
      grid-template-areas:
      /* "image title" */
      "image title "
      "image description "
      "address button ";
    }

    figure {
      margin: 0.5rem;
    }
  }
}