:root {
  --primary: #012b09;
  --secondary: #027218;
  --secondary-faded: rgba(2, 114, 24, 50%);
  --accent: #36454F;
  --font: #F4F0EC;
}

* {
  font-family: "Tinos", serif;
}

/* =============== Header =============== */

header {
  background-color: var(--primary);
  color: var(--font);
  padding: 1em 1em 1em 5em;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header img {
  position: absolute;
  left: 1em;
  width: 4em;
  top: 0.5em;
}

header h2 {
  margin-left: 1.4em;
}

nav a {
  text-decoration: none;
  color: var(--font);
  margin: 5px;
  padding: 7px;
  font-size: 1em;
  border: solid lightgray 2px;
  border-radius: 25px;
  background-color: var(--accent);
  transition: .5s;
}

nav a:hover {
  transition: 0.5s;
  box-shadow: 0 0 7px 7px var(--secondary);
}

nav a:active {
  transform: scale(.9);
  transition: .1s;
}

.navbar {
  list-style: none;
  display: flex;
  position: relative;
}



#menu {
  display: none;
}



/* ==============  Body  ============== */

main {
  display: grid;
  background-color: var(--accent);
  min-height: 79.3vh;
}
.main-home {
  grid-template-areas:
  "quick quick"
  "study recent";
}
.main-flash {
  grid-template-areas:
  "flash click"
  "cards cards"
}

.home-box{
  margin: 2em;
  color: var(--font);
}
.home-box h2 {
  padding: 5px;
  width: 200px;
  border-bottom-style: solid;
  border-left-style: solid;
}

#quick-section{
  grid-area: quick;
}

form {
  display: flex;
}

.word-box {
  border: 2px solid black;
  border-radius: 15px;
  padding: 1em;
  margin: 1em;
  background-color: var(--secondary-faded);
  display: grid;
  grid-template-columns: 0.8fr 3fr;
}

.word-box h3 {
  margin-top: auto;
  font-size: 1.5em;
  text-decoration: underline;
  text-transform: capitalize;
  grid-column: 1 / 2;
}

.word-box h4 {
  grid-column: 1 / 2;
  margin-top: 5px;
}

.word-box p {
  grid-column: 2 / 3;
  margin-top: 5px;
}

.word-box hr {
  grid-column: 1 / 3;
  width: 95%;
}

.add-btn {
  color: var(--font);
  margin-bottom: auto;
  margin-left: auto;
  
  padding: 10px;
  font-size: 1em;
  border: solid lightgray 2px;
  border-radius: 10px;
  background-color: var(--accent);
  transition: .5s;
  grid-column: 2 / 3;
}

.add-btn:hover {
  transform: scale(.95);
  transition: .5s;
  box-shadow: 5px 5px 7px #111;
}

.add-btn:active {
  transform: scale(.9);
  transition: .1s;
}

.search {
  margin-right: 0;
  padding-left: 8px;
  border-radius: 15px 0 0 15px;
  border: solid black 2px;
  border-right-style: none;
}

.search:focus {
  outline: none;
}

.submit {
  margin-left: -5px;
  border: solid black 2px;
  border-left: dotted 2px var(--accent);
  border-radius: 0 15px 15px 0;
  background-color: white;
}

.primary-btn {
  color: var(--font);
  margin: 5px;
  padding: 7px;
  font-size: 1em;
  border: solid lightgray 2px;
  border-radius: 10px;
  background-color: var(--primary);
  transition: .5s;
}

.primary-btn:hover {
  transform: scale(.95);
  transition: .5s;
  box-shadow: 5px 5px 7px #111;
}

.primary-btn:active {
  transform: scale(.9);
  transition: .1s;
}


#study-section{
  grid-area: study;
  border-radius: 15px;
  padding: 1em;
  margin: 1em;
}

#recent-section{
  grid-area: recent;
  border-radius: 15px;
  padding: 1em;
  margin: 1em;
}

dialog {
  width: 500px;
  height: 350px;
  background-color: var(--secondary-faded);
  color: var(--font);
  border: 2px solid black;
  border-radius: 5px;
  padding: 25px;
}
::backdrop {
  background-color: rgba(0, 0, 0, 50%);
}

.modal-menu {
  display: flex;
  flex-direction: column;
}

.modal-menu fieldset {
  margin: 0.5em;
  padding: 10px;
  background-color: var(--accent);
}

.modal-menu label {
  margin-left: 20px;
}

#add-flash {
  margin: auto;
}

#close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
}


#study-title {
  width: 280px;
}

#flash-btns {
  grid-area: click;
}

#card-section {
  grid-area: flash;
}

#card-display {
  grid-area: cards;
  color: var(--font);
}

.hidden {
  opacity: 0;
  transition: 2s;
}

.show {
  opacity: 100%;
  transition: 2s;
}



/* ==============  Footer  ============== */

footer {
  background-color: var(--primary);
  color: var(--font);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 2fr 2fr;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#dates {
  grid-column: 4 / 6;
  text-align: center;
}

.socials {
  width: 4rem;
  height: 4rem;
  margin: 5px;
  margin-top: 25px;
  padding: 3px;
  grid-column: span 1;
  background-color: var(--font);
  border: 2px solid black;
  border-radius: 25%;
}